@import url('common.css');

@font-face {
    font-family: "humun";
    src: url('../css/humun.ttf');
}

@font-face {
    font-family: "HCRDotum";
    src: url("../css/HCRDotum.ttf");
}

header {
    background: #12252d;
    height: 100%;
    position: fixed !important;
}

header .logo {
    padding: 5vw 0;
}

header .logo a {
    display: flex;
    justify-content: center;
}

header .logo a img {}

header .header_title {
    font-family: 'Sam M';
}

header .header_title h2 {
    font-size: 3vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0.5vw 0;
    border-radius: 10px;
    background-color: #27a98f;
    color: white;
}

header .header_title ul {
    width: 60%;
    margin: 0 auto;
    padding: 2vw 0;
    font-size: 2vw;
    display: flex;
    flex-direction: column;

}

header .header_title ul li {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

header .header_title ul li a {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: #27a98f;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .header_title ul li a.active {
    color: white;
}

header footer {
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5% 5%;


}

header footer p {
    font-family: 'NanumGothic';
    font-size: 0.2vw;
    color: #27a98f;
}

/*====================main========================*/
.rt {
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    right: 70px;
    top: 20px;
    font-family: 'Sam M';

}


.menu-trigger {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 30px;
    right: 0;
    top: 0;
    cursor: pointer;
}

.menu-trigger span {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background: #27a98f;
    position: absolute;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(45deg);
}

.menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.pop_up {
    position: fixed;
    right: -100%;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: -1;
    transition: .5s;
}

.menu-trigger.active + .pop_up {
    right: 0;
}


.pop_up_ {
    margin: 10vh 0 0 7vw;
}

.pop_up_ .pop_up_title {
    display: inline-block;
    font-size: 40px;
    color: #e55358;
    margin-bottom: 15px;
}

.pop_up_ span {
    display: flex;
}

.pop_up_ span a {
    font-size: 2vw;
    color: #fff;
    padding: 0 2.5vw;
}

.pop_up_ span a:hover {
    color: #27a98f;
}

aside .menu-trigger {
    width: 36px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0;
    z-index: 1;
    /*transform: translateY(-50%);*/
}

aside .menu-trigger span {
    width: 100%;
    border-radius: 10px;
    height: 6px;
    background: #000;
    position: absolute;
    transition: .5s;
    background: #27a98f;

}

aside .menu-trigger span:nth-of-type(1) {
    top: 0;
    left: 0;
}

aside .menu-trigger span:nth-of-type(2) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

aside .menu-trigger span:nth-of-type(3) {
    bottom: 0;
    left: 0;
}


aside .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(45deg);

}


aside .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}


aside .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(-45deg);
}

main {
    float: right !important;
}

aside .ticket {
    width: 160px;
    height: 250px;
    background: #e6e6e6;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    right: 6%;
    z-index: 1;
    transform-origin: 100% -2%;
}

aside .ticket .ticket_contents {
    width: 90%;
    margin: 0 auto;
    padding: 6px 0;
}

aside .ticket .ticket_contents > p {
    font-size: 2em;
    padding: 3px 0;
    background: #27a98f;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
}

aside .ticket .ticket_contents .date {
    font-size: 1.1em;
    font-weight: bold;

}

aside .ticket .ticket_contents .date a.active {
    background: #555;
    color: #fff;
}

aside .ticket .ticket_contents .date a {
    display: block;
    color: #555;
    background: #fff;
    border-radius: 10px;
    padding: 10px 0;
    margin: 8px 0;
}

aside .ticket .ticket_contents .amount {
    width: 100%;
    display: inline-block;
    position: relative;
}

aside .ticket .ticket_contents .amount > p {
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 45%;
}

aside .ticket .ticket_contents .amount .minus {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #27a98f;
    position: absolute;
    top: -5px;
    left: 15%;
}

aside .ticket .ticket_contents .amount .minus span {
    color: #fff;
}

aside .ticket .ticket_contents .amount .plus {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #27a98f;
    position: absolute;
    top: -5px;
    right: 15%;
}

aside .ticket .ticket_contents .amount .plus span {
    color: #fff;
}

aside .ticket .ticket_contents .ok {
    font-size: 2em;
    margin-top: 18px;
    padding: 3px 0;
    background: #27a98f;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
}

aside .ticket .ticket_contents .ok a {
    color: #fff;
}

aside .ticket .sns {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

aside .ticket .sns a {}

aside .ticket .sns a:hover {
    text-decoration: none;
}

aside .ticket .sns a img {}

aside .top {
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 40px solid #27a98f;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 3;
}

aside .top a {
    position: absolute;
    font-family: 'Sam M';
    font-size: 25px;
    color: #fff;
    top: 10px;
    left: -12px;
}

aside select {
    background: none;
    border: none;
    right: 0px;
    position: absolute;
    top: 2.3%;
    right: 1%;
    font-family: 'Sam M';
    font-size: 1.5em;
    z-index: 1;
    color: #27a98f;
}

aside select option {
    color: #27a98f;
}

main .page {
    height: 100%;
    padding: 100px 29.734% 14.867% 14.867%;
    position: relative;
}

main .page .main_title {
    font-family: 'Sam M';
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 100px;
}

main .page .main_title h1 {
    font-size: 6vw;
    color: #27a98f;

}

main .page .main_title .site_map {
    align-items: flex-end;
    color: #555;
    font-size: 1.2vw;
    position: absolute;
    bottom: 0;
    right: 0;

}

main .page .main_title .site_map .site_map_2 {
    position: relative;
    display: inline-block;
    color: #27a98f;
    text-decoration: underline;
}

main .page .main_title .site_map > .site_map_2:hover {
    text-decoration: none;
}

main .page .main_title .site_map > p {
    display: inline-block;
}

main .page .main_title .site_map > p:before {
    content: '> ';

}

main .page .main_title .site_map > .site_map_2 .menu_title {
    position: absolute;
    text-align: center;
    width: 120%;
    top: 100%;
    left: -10%;
    left: -10%;
    background: #faf9f7;
    visibility: hidden;


}

main .page .main_title .site_map > .site_map_2:hover .menu_title {
    visibility: visible;
}

main .page .main_title .site_map .site_map_2 .menu_title a {
    display: block;
    font-size: 0.8vw;
    color: #555;
}


main .page .main_contents {
    height: 100%;
    line-height: 1.8;
    font-family: 'NanumGothic';
}

main .page .main_contents ul {
    width: 100%;
    height: 100%;

}

main .page .main_contents ul li {
    width: 100%;
    height: 19vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

main .page .main_contents ul li p {
    color: white;
}

main .page .main_contents ul li:nth-of-type(1) {
    border-radius: 30px;
    background: url('../img/img_2019.jpg');
    color: #924088;
}

main .page .main_contents ul li:nth-of-type(2) {
    border-radius: 30px;
    background: url('../img/img_2018.jpg');
    color: #376ce9;
}

main .page .main_contents ul li:nth-of-type(3) {
    border-radius: 30px;
    background: url('../img/img_2017.jpg');
    color: #ce4c50;
}

main .page .main_contents ul li:nth-of-type(4) {
    border-radius: 30px;
    background: url('../img/img_2016.jpg');
    color: #27a98f;
}

main .page .main_contents ul li h2 {
    font-weight: bold;
    font-size: 3.5vw;
    margin-top: 2vw;
}

main .page .main_contents ul li p {
    font-size: 1.5vw;
}

main .page .main_contents ul li a {
    color: #fff;
    font-size: 1vw;
    padding: 1vw 3vw;
    border-radius: 10px;
    margin-bottom: 4%;
}

main .page .main_contents ul li:nth-of-type(1) a {
    background: #924088;
}

main .page .main_contents ul li:nth-of-type(2) a {
    background: #376ce9;
}

main .page .main_contents ul li:nth-of-type(3) a {
    background: #ce4c50;
}

main .page .main_contents ul li:nth-of-type(4) a {
    background: #27a98f;
}


/*======================768======================*/

@media (max-width:768px) {
    header {
        background: #fff;
        height: 100%;
        position: absolute !important;
    }

    header .logo {
        width: 100%;
        padding: 0;
        background: #12252d;
        position: fixed !important;
        z-index: 3;
    }

    header .logo a {
        width: 10%;
        z-index: 10;
        display: flex;
        justify-content: flex-start;
    }

    header .logo a img {
        height: 40px;
        margin: 5px 5px 5px 10px;
    }

    header .header_title {
        display: none;
    }

    header footer {
        display: none;
    }

    .rt {
        z-index: 15;
    }

    .menu-trigger {
        /*        transform: translate(30px, -82px);*/
        z-index: 15;
    }

    .popup {
        display: none;
    }

    .pop_top {
        right: 15px;
        bottom: 3%;
    }

    .pop_up {
        position: fixed;
        right: -100%;
        top: 0;
        width: 90%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        z-index: -1;
        transition: .5s;
    }

    .pop_up_ {
        margin: 10vw 0 0 10vw;

    }

    .pop_up_ .pop_up_title {
        display: inline-block;
        font-size: 6vw;
        color: #e55358;
        margin-bottom: 15px;
    }

    .pop_up_ span {
        display: flex;
    }

    .pop_up_ span a {
        font-size: 4.5vw;
        color: #fff;
        padding: 0 4vw;
    }

    .pop_up_ span a:hover {
        color: #27a98f;
    }


    aside {
        width: 100%;
        height: 100%;
    }

    aside .ticket {
        background: none;
    }

    aside .ticket .ticket_contents {
        display: none;
    }

    aside .ticket .sns {
        display: none;
    }

    aside .ticket .top {
        position: absolute;
        top: 260%;
        left: 90%;

    }

    aside .menu-trigger {
        width: 36px;
        height: 30px;
        position: fixed;
        right: 1%;
        top: 1%;
        margin-right: 0;
        z-index: 5;
    }

    aside select {
        background: none;
        border: none;
        right: 0px;
        position: fixed;
        top: 12px;
        right: 60px;
        font-family: 'Sam M';
        font-size: 1.5em;
        z-index: 4;
        color: #27a98f;
    }

    main .page {
        padding: 50px 24px;

    }

    main .page .main_title {
        margin: 50px 0;
    }

    main .page .main_title .site_map > .site_map_2 .menu_title {
        z-index: 8;
    }

    .col-sm-9 {
        width: 100%;
    }

    main .page .main_contents ul li {
        height: 25vw;

    }

}

/* =================== 1092 ================================*/

@media (min-width:768px) and (max-width:1092px) {

    /*============== 헤더 =============*/
    .hd nav ul li > a {
        font-size: 2.6vw;
        padding: 20px 3.5vw;
    }

    .hd nav ul li div a {
        padding: 7px 10px;
        font-size: 2vw;
    }

    .pop_up_ .pop_up_title {
        font-size: 3.5vw;
    }

    /*=============메인===============*/
    .ticket {
        transform: rotate(-90deg);
        transform-origin: 100% -2%;
        transition: .5s;

        position: fixed;
        z-index: 1;
        top: 20%;
        right: 1%;
    }

    .ticket.active {
        transform: rotate(0);
    }

    .pop_ticket b {
        cursor: pointer;
    }




    .info_event article > h3 {

        font-size: 3.5vw;
        letter-spacing: 7.6px;
    }

    .info_event article:nth-of-type(1) > h3:after {
        width: 7vw;
        transform: translate(-90%, 50%);
    }

    .info_event article:nth-of-type(2) > h3:after {
        width: 12.5vw;
        transform: translate(-91%, 50%);

    }

    .info_event article:nth-of-type(3) > h3:after {
        width: 20vw;
        transform: translate(-92%, 50%);
    }

    .info_event article p {
        font-size: 2.5vw;
    }

    .link a article h3,
    .com_03 h3 {
        display: none;
    }

    .link a article p,
    .link p {
        display: none;
    }




}
