@import url('common.css');

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 80px 0;
}

header > div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {}

header h1 a {}

header h1 a img {}

header > div div > a {
    color: #dbdeb5;
    position:relative;
    display:inline-block;
}
header > div div > a:after {
    content:'';
    position:absolute;
    right:-10px; top:50%;
    transform: translateY(-30%);
    
    width:0;height:0;
    border:3px solid transparent;
    border-top:5px solid #dbdeb5;
}
header > div div{
    position:relative;
}
header > div div ul {
    display: none;
    position:absolute;
    background:#fff;
    padding:0 10px 10px 10px;    
}

header > div div ul li {}
header > div div ul li a {
    font-size:.6em;
    display:inline-block;
    padding:0 10px 10px 10px;
}
header > div div ul li a:hover {
    text-decoration: underline;
}
header > div div:hover ul{display:block;}


/*menu-trigger*/
.menu-triger {
    width: 26px;
    height: 16px;
    position: relative;
}
.menu-triger span {
    position: absolute;
    left: 0; 
    background: #fff;
    width:100%; height:2px;
}
.menu-triger span:nth-of-type(2){
    top:50%; transform: translateY(-50%);
}
.menu-triger span:nth-of-type(3){
    bottom:0;
}

main{}
main .visual{}
main .visual .slide{
    
}
main .visual .slide figure{}
main .visual .slide figure p{}
main .visual .slide figure p img{}
main .visual .slide figure figcaption{}
main .visual .slide figure figcaption strong{
    position: absolute;
    top: 40%;
    left: 38%;
    color: #dbdeb5;
    font-size: 82.5px;
    
}
main .visual .slide figure figcaption a{
    position: absolute;
    top: 60%;
    left: 46%;
    font-size: 20px;
    padding: 32px 53px;
    color: #fff;
    border-bottom:1px solid #fff;
    border-top:1px solid #fff; 
}
main .visual .indi{
    position: absolute;
    left: 15%;
    top: 40%;
    font-size: 0;
    margin: 0 auto;
    
}
main .visual .indi a{
    transform: rotate(90deg);
    width: 60px;
    height: 60px;
    display: block;
    
    
    
}
main .visual .indi a:after{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    color: white;
    margin: 29px;
    
    
    
}
main .visual .indi a:hover{
    background: none;
    font-size: 50px;
    overflow: hidden;
    color: #dbdeb5;
    transition: .5s;
}
main .visual .indi a.active{
    background: none;
    font-size: 50px;
    color: #dbdeb5;
    overflow: hidden;
}

main .visual .sns{
    position: absolute;
    right: 0;
    transform: rotate(90deg);
    bottom: 5%;
}
main .visual .sns a{
    color: #fff;
    margin: 5px;
}
main .visual .ic_scroll{
    position: absolute;
    bottom: 7%;
    left: 51.5%;
}

main .cont{
    width: 80%;
    margin: 250px auto;
    
    
}
main .cont .artist{}
main .cont .artist ul{}
main .cont .artist ul li{
    display: flex;
    align-items: center;
}
main .cont .artist ul li img{
    width: 49%;
    
}
main .cont .artist ul li:nth-of-type(1) h2{
    padding-right: 100px;
    display: inline-block;
    width: 49%;
    text-align: end;
    position: relative;
    
}
main .cont .artist ul li:nth-of-type(1):hover h2:before{
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid white;
    border-bottom: 15px solid transparent;
    display: inline-block;
    position: absolute;
    top: 150px;
    left: -15px;
    
    
}
main .cont .artist ul li:nth-of-type(2):hover h2:after{
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid white;
    border-bottom: 15px solid transparent;
    display: inline-block;
    position: absolute;
    top: 150px;
    right: -15px;
    
    
}
main .cont .artist ul li:nth-of-type(2) h2{
    padding-left: 100px; 
    display: inline-block;
    width: 49%;
    text-align: start;
    position: relative;
    
}
main .cont .artist ul li h2 strong{
    position: relative;
}
main .cont .artist ul li:nth-of-type(1) h2 strong:after{
    content: '';
    position: absolute;
    border-top: 1px solid #000;
    right: -100px;
    bottom: 45%;
    width: 100px; 
}
main .cont .artist ul li:nth-of-type(2) h2 strong:before{
    content: '';
    position: absolute;
    border-top: 1px solid #000;
    left: -100px;
    bottom: 45%;
    width: 100px; 
}
main .cont .artist ul li:nth-of-type(2):hover h2 strong:before{
    width: calc(100% + 100px);
    transition: .6s;
}
main .cont .artist ul li:nth-of-type(1):hover h2 strong:after{
    width: calc(100% + 100px);
    transition: .6s;
}
main .cont .artist ul li h2 p{
    
    white-space: pre-line;
    font-size: 22px;
}
main .cont .artist ul li h2 a{
    font-size: 22px;
    text-decoration: underline;
}

main .service{
    width: 80%;
    margin: 0 auto;
}
main .service h2{
    text-align: center;
    position: relative;
    padding-bottom: 100px;
}
main .service h2:after{
    content: '';
    position: absolute;
    border-bottom: 4px solid #000;
    top: 0;
    left: 48%;
    width: 5%;
    height: 70%;
}
main .service > p{
    white-space: pre-line;
    text-align: center;
    padding-bottom: 100px;
}
main .service ul{
    display: flex;
    justify-content: space-between;
}
main .service ul li{
    display: inline-block;
    width: 25%;
    height: 300px;
    margin-bottom: 300px;
    
}
main .service ul li a{
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 1;

}
main .service ul li:hover a:after{
    content: '';
    border-radius: 50%;
    width: 100%;
    height: 255.38px;
    position: absolute;
    top: -238.38px;
    left: 0;
    background: #000;
    z-index: -1;
    opacity: 0.5;
    
    
}
main .service ul li a img{
    width: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
/*

*/
main .service ul li a p{
    padding-top: 60px;
    margin-bottom: 310px;
    
}

footer{
    color: #b4bbcb;
    padding: 50px 0;
    text-align: center;
    background: #404040;
}

