@import url('../css/common.css');

header{
/*    background: #f00;*/
    padding: 70px 0;
}
header > div{
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div nav ul li{
    display: inline-block;
    text-transform: uppercase;

}
header div nav ul li > a{
    padding-right: 0;
    padding-left: 95px; 
    display: inline-block;
}


.cp_s1{}
.cp_s1 h2{
    margin: 30px 0;
}
.cp_s1 h2 small{
    display: block;
    margin-bottom: 26px;
    text-transform: uppercase;
}
.cp_s1 p{
    line-height: 2;
}
.cp_s1 a{
    display: inline-block;
    margin-top: 26px;
    text-transform: uppercase;
}


.f_list{
    width: 1060px;
    margin: 0 auto;
    padding: 0 80px;
}
.f_list li{
    width: 45%;
    padding-bottom: 100px;
}
.f_list li p img{
    width: 100%;
}

/*letter*/
.letter{
    background: #f0f0f0;
    padding: 70px 0;
    text-align: center;
}
.letter h2{}
.letter span{
    display: inline-block;
    border-bottom: 1px solid #000;
    padding: 80px 0 10px 0;
}
.letter span input[type='email']{
    border: none;
    background: none;
    width: 300px;
    outline-style: none;
}
.letter span input[type='submit']{
    border: none;
    font-size: 0;
    background: url(../img/icon_1.jpg) no-repeat;
    width: 32px;
    height: 17px;
    outline-style: none;
    cursor: pointer;
}
footer{
    text-align: center;
    padding: 20px 0;
    background: #f0f0f0;
    margin-top: 100px;
}